/* Chat input */
.user-settings form {
	height: 30px;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 15px;
	gap: 10px;
}

.change-password-group input {
	margin-bottom: 10px;
}

.user-settings form input[type="text"] {
	width: 100%;
	background-color: transparent;
	border: 1px solid var(--ctx-clr);
	padding: 5px;
	font-size: 16px;
	resize: none;
}

.user-settings form input[type="submit"] {
	background-color: transparent;
	border: 1px solid var(--ctx-clr);
	padding: 0 15px;
	font-size: 16px;
	resize: none;
	cursor: pointer;
}

.user-settings form input[type="submit"]:hover {
	background-color: var(--ctx-clr);
	color: var(--bg-clr);
}