<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Auth</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/auth_reg.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Authorize</h1>
	<!-- onsubmit="verifyData(event, 'auth_run', 'authIsVerified')" -->
	<form method="POST" action="/auth_run">
		{% if error %}
			<p class="error-msg">Wrong login or password</p>
		{% endif %}
		<input required name="login" type="text" placeholder="Login" onchange="hideElem('authIsVerified');"/>
		<input required name="password" type="password" placeholder="Password" onchange="hideElem('authIsVerified');"/>
		<input name="sumbit" type="submit" value="Sign in" />
		<p>Don't have an account yet?</p>
		<a href="/reg">Create</a>
	</form>
</body>


<script type="text/javascript" src="{{ url_for('static', filename = 'js/regAuth.js') }}"></script>


</html>