{% extends 'layout.html' %}

{% block content %}
<div class="chat-msgs-area">
	<ul id="chatMsgsList">
		{% for msg in msgs_list %}
		<li msg-id="{{ msg["msgId"] }}">
			<div class="msg-header">
				<a href="/id{{ msg['userId'] }}" class="msg-header_user">{{ msg["userName"] }}</a>
				<p class="msg-header_datetime">{{ msg["msgDate"] }} {{ msg["msgTime"] }}</p>
			</div>
			<p class="msg-body">{{ msg["msgText"] }}</p>
		</li>
		{% endfor %}
	</ul>
	<p class="chat-msgs-area_begining-text">This is where all this begins...</p>
</div>
<!-- action="/send_msg" method="POST" -->
<form id="msgSentForm" class="msg-send-form" onsubmit="sendMessage(event);">
	<textarea id="msgTextarea" name="new-msg-text" placeholder="Type message..."></textarea>
	<input type="submit" value="Send">
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
{% endblock content %}