<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/auth_reg.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Registration</h1>
	<form method="POST" action="/reg_run" autocomplete="off">
		{% if error %}
			<p class="error-msg">Something goes wrong!</p>
		{% endif %}
		<input required name="name" type="text" placeholder="Name" />
		<input required onkeyup="checkInput(event)" name="login" type="text" placeholder="Login" />
		<input required onkeyup="checkPassword(event)" autocomplete="new-password" name="password" type="password" placeholder="Password" />
		<input required onkeyup="checkPasswordRepeat(event)" name="password-repeat" type="password" placeholder="Repeat password" />
		<input name="sumbit" type="submit" value="Sign up" />
		<p>Already has an account?</p>
		<a href="/auth">Authorize</a>
	</form>
</body>

<script src="{{ url_for('static', filename = 'js/regAuth.js') }}"></script>
</html>